<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Edit Your Post</h2>
    <p>Post ID : @<%= post.id %></p>
    <p>User Name : <%= post.username %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" id="" cols="30" rows="10"><%= post.content %></textarea>
        <!-- <button><a href="http://localhost:8080/posts">Submit</a></button> -->
        <button>sub</button>
        <button><a href="http://localhost:8080/posts">Cancle</a></button>
    </form>
</body>
</html>