<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post detail</h1>
    <div class="post">
        <div class="userId"> Post ID :<%= post.id%> </div>
        <div class="userName"> <p><%= post.username %> </p></div>
        <div class="userPost"> <p><%= post.content %></p> </div>
        <button><a href="http://localhost:8080/posts">Back</a></button>
    </div>
</body>
</html>