* {
    text-decoration: none;
    list-style: none;
}

body {
    background-color:#eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    box-shadow: 0 0 1rem brown;
    padding: .6rem 0;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 235, 205, 0.416);
    font-size: 3rem;
    color: #aa2200;
}

.post {
    display: flex;
    border: .00001px solid rgba(0, 0, 0, 0.444);
    box-shadow: 0 0 1.5rem 	#aa2200ae;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem 0rem;
    width: 60%;
    background-color: blanchedalmond;
    justify-content: space-between;
}

.opt {
    display: flex;
    align-items: center;
}


.user {
    font-style: italic;
}

button {
    transition: 400ms;
    padding: .2rem 1rem;
    background-color: rgba(165, 42, 42, 0.841);
    border-radius: .2rem;
    margin: .19rem 0;
    box-shadow: 0 0 .1rem 	#aa220079;
    color: 	#fff;
}

button:hover{
    color: brown;
    background-color: #fff;
}

a:hover {
    background-color: #fff;
    color: brown;
}

a { 
    transition: 400ms;
    color: 	#fff;
}

.options {
    display: flex;
    flex-direction: column;
}
