body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 3rem;
    color: brown;
}

.post {
    border: .00001px solid rgba(0, 0, 0, 0.444);
    /* box-shadow: 0 0 6rem rgba(165, 42, 42, 0.268); */
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem 0rem;
    width: 60%;
    background-color: blanchedalmond;
}


.user {
    font-style: italic;
}

